.navbar-brand img {
    width: 37px;
    height: 37px;
    margin-right: 5px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    position: relative;
}

.btn-circle.btn-lg {
    width: 37px;
    height: 37px;
    padding: 8px 14px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 50px;
}

button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

.truncate-cell {
    max-width: 100px; /* 设置单元格最大宽度 */
    white-space: nowrap; /* 防止换行 */
    overflow: hidden; /* 隐藏超出部分 */
    text-overflow: ellipsis; /* 超出部分显示省略号 */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    display: none; /* 默认隐藏 */
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex; /* 显示遮罩层 */
}

.loading-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.balls {
    width: 4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.balls div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #4b9e5f;
}

.balls div:nth-of-type(1) {
    transform: translateX(-100%);
    animation: left-swing 0.5s ease-in alternate infinite;
}

.balls div:nth-of-type(3) {
    transform: translateX(-95%);
    animation: right-swing 0.5s ease-out alternate infinite;
}

@keyframes left-swing {

    50%,
    100% {
        transform: translateX(95%);
    }
}

@keyframes right-swing {
    50% {
        transform: translateX(-95%);
    }

    100% {
        transform: translateX(100%);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
    }
}

/* 侧边栏 */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  padding: 0;
  width: 50px;
  background-color: #f1f1f1;
  position: fixed;
  top: 60px; /* 与导航栏底部对齐 */
  height: calc(100% - 60px); /* 调整侧边栏高度以适应屏幕剩余空间 */
  overflow: auto;
  z-index: 999;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4c9baf;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}